
@import 'node_modules/vanilla-framework/scss/vanilla';
@include vanilla;
@import 'patterns_card';
@include vf-p-card;
 

 .container{
  display: flex;
  overflow: scroll;
  height: 100vh;
 
}

.p-card {
  margin: 1rem 1rem 0rem 1rem;
  height: 33rem;
  border-top: 3px solid rgba(119, 21, 119, 0.575);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(173,173,173,1);
  -moz-box-shadow: 0px 1px 3px 1px rgba(173,173,173,1);
  box-shadow: 0px 1px 3px 1px rgba(173,173,173,1);
  min-width: 300px;
 
}
.p-card__title{
  font-size: 1.7rem;
  line-height: 2rem;
}
.card_info{
  height: 12rem;
}

.p-heading--6 {
  font-size: 1.3rem;
  margin-bottom: 0;
}